<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="graph-container">
            <div class="graph-item" style="position: relative; height:15vh; width: 60% ;grid-column-start: 1; grid-column-end: 4;">
                <h3>DEVELOPER1</h3>                
            </div>
            <div class="graph-item" style="position: relative; height:15vh;width: 60% ; grid-column-start: 1; grid-column-end: 4;">
                <h3>DEVELOPER2</h3>                
            </div>
            <div class="graph-item" style="position: relative; height:15vh;width: 60% ; grid-column-start: 1; grid-column-end: 4;">
                <h3>DEVELOPER3</h3>                
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>