<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="grid-resources">
                <div class="resources-item">
                    <h2>COVID19-India API</h2>
                    <a href="https://github.com/covid19india/api"
                        target=”_blank”>https://github.com/covid19india/api</a>
                </div>
                <div class="resources-item">
                    <h2>Independent aggregator - PAN INDIA</h2>
                    <a href="https://docs.google.com/spreadsheets/d/1nHZ-UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit#gid=605810228"
                        target=”_blank”>https://docs.google.com/spreadsheets/d/1nHZ-<br>UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit#gid=605810228</a>
                </div>
                <div class="resources-item">
                    <h2>COVID19-India</h2>
                    <a href="https://www.covid19india.org/resources"
                        target=”_blank”>https://www.covid19india.org/resources</a>
                    <!-- <canvas id="myChartA"></canvas> -->
                </div>
                <div class="resources-item">
                    <h2>Independent aggregator - GUJARAT</h2>
                    <a href="https://docs.google.com/spreadsheets/d/1fHiBtzxBC_3Q7I5SXr_GpNA4ivT73w4W4hjK6IkGDBY/edit#gid=2074968679"
                        target=”_blank”>https://docs.google.com/spreadsheets/d/1fHiBtzxBC_3Q7I5SXr<br>_GpNA4ivT73w4W4hjK6IkGDBY/edit#gid=2074968679</a>
                </div>                
                <div class="resources-item">
                    <h2>Independent aggregator - AHMEDABAD</h2>
                    <a href="https://www.amdfightscovid.com/" target=”_blank”>https://www.amdfightscovid.com/</a>
                </div>
                <div class="resources-item">
                    <h2>Independent aggregator - GANDHINAGAR</h2>
                    <a href="https://covidgandhinagar.com/" target=”_blank”>https://covidgandhinagar.com/</a>
                </div>

            </div>

            <%- include('./partials/footer.ejs') %>
    </body>
    <script>
        

        
    </script>

</html>