body{
    margin: 0 ;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Sarabun', sans-serif;   
    /* background-color: rgb(255, 255, 255); */
    /* background-color:rgb(245, 245, 245); */
    overflow-x: hidden;
    /* background-color: #f4f6f9; */
    /* background-image: url("https://www.teahub.io/photos/full/125-1253801_website-background.png"); */
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-White-Gradient-Background-Image.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    
}

li{
    display: inline-block;    
     margin:2px 20px 20px 20px ;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    top: 0;
    width: 100%;
    /* background-color: rgb(175, 175, 175); */
    background-color: transparent;
    z-index: 1;
    flex-wrap: wrap;
}

@media only screen and (max-width: 536px) {
  .navbar {width: 560px}
}

li{
  font-size: 24px;
  transition: transform 1s;
}
@media only screen and (max-width: 536px) {
   li {display: block;}
}
li:hover{
    /* font-size: 2px; */
    /* transform: translateX(2px);       */
    transform: translateY(2px);
    transform: scale(1.10);
}
a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
}
a:active, a:hover
{
   color: rgba(253, 9, 9, 0.904); 
}
/* li:active, a:hover{
    color:rgb(236, 54, 54);
}
  */
#logo{
    margin: 2px 70px 7px 0 ;
    padding: 2px;
}

.slid{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: rgb(255, 255, 255); */
  background-color: transparent;
  margin-top: 0px;
  width: 100%;
  height: 500px;
  /* background-image: url("https://www.teahub.io/photos/full/125-1253801_website-background.png"); */
  /* background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-White-Gradient-Background-Image.jpg"); */
  /* background-repeat: no-repeat, no-repeat; */
  /* background-size: cover; */

}
@media only screen and (max-width: 536px) {
  .slid {width: 560px;}
}

.mySlides {display: none}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* background-color: rgb(235, 240, 238); */
  max-width: 1404px;
  position: relative;
  margin: auto;  
  margin-top: 37px;
  transition: transform 1s;
  /* border-radius: 10px; */
  width: 80%;  
}

.slideshow-container:hover{
    transform: translateY(2px);
    transform: scale(1.02);    
            
}

.slideshow-text{
  max-width: 1404px;
  position: relative;
  margin: auto;  
  transition: transform 1s;
  border-radius: 10px;
  width: 90%;
  
  /* border: 2px solid; */
}
button {
    width: 130px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
 button:hover{
  background-color: #0666a3;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.highlight{
  /* background-color: rgb(87, 134, 139); */
  margin-top: 13cm;
  text-align: center;
  
  background-color: transparent;
}
@media only screen and (max-width: 536px) {
  .highlight {width: 560px;}
}

.highlight h1{
  padding: 13px;
  color: #ff0000;
  /* background-color: rgb(255, 255, 255); */
}

.content{
    position: relative;  
}


.dots{
  position: absoute;
  bottom: 0;
}

footer{
  text-align: center;
  
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  padding-top: 9px;
  margin-top: 3cm;
  height: 40px;
  width: 100%;
}
@media only screen and (max-width: 536px) {
  footer{width: 560px;}
}


.graph-container{  
  margin-top: 20px;
  display: grid;
  grid-gap: 25px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid; */
  /* background-color: #2196F3; */
  padding: 10px;
}
@media only screen and (max-width: 536px) {
  .graph-container{width: 536px; grid-template-columns: 1fr ;}
  
}

.graph-item{
  /* background-color: rgb(255, 255, 255); */
  /* background-color: #fff; */
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  width: 90%;
  padding: 20px;
  overflow: hidden;
  /* font-size: 15px; */
  text-align: center;
  margin: auto;
  transition: transform 1s;
}
.graph-item:hover{
  transform: scale(1.02);
}
@media only screen and (max-width: 536px) {
  .graph-item{width: 70%;grid-column-start: 1 ; grid-column-start: 1;  }
}

#graph-item1, #graph-item3{
  grid-column-start:1 ;
  grid-column-end: 4;
}
#graph-item2{
  grid-column-start:1 ;
  grid-column-end: 3;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
  margin-top: 15cm;
  margin-bottom: 12cm;
  width: 90%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #828d99;
    color: white;
}


#red:hover{
  background-color: #ffc5d0;
  transform: scale(1.02);
}
#green:hover{
  background-color: #e4f4e8;
  transform: scale(1.02);
}
#black:hover{
  background-color: #e5e6e8;
  transform: scale(1.02);
}
html{
    scroll-behavior: smooth;
}


